<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  
    <h1>Posts</h1>
    <p>Writing down some thoughts</p>
    <ul>
        <li><a href="/git-hooks/">Git hooks</a></li>
        <li><a href="/intl-codemod/">I18n React codemod </a></li>
    </ul>
  </body>